doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/styles/main.css')

  body
    div(id='navbar')
    script(type='text/javascript' src='/scripts/navbar.js')
    div(id='container')
      block content
