extends ../layout

block content
    h1 Contacts
    //- Button group
    div(class="d-grid gap-2 d-md-flex justify-content-md-end")
        a(class="btn btn-large btn-success" href="/contacts/create") Add
    //- Contacts table
    div(id='paginator')
    script(type='text/javascript' src="/scripts/contacts/index.js")
